{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="divisionWrapper">
  <div class="logsignWrapper">
    <div id="logintitle">Reset Password</div>

    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        <input type="text" name="username" placeholder="Username" class="form-control" required>
      </div>

      <div class="form-group">
        <input type="password" name="new_password" placeholder="New Password" class="form-control" required>
      </div>

      <div class="form-group">
        <div class="security-question-label">Security Question</div>
        <input class="userInput" type="text" name="security_answer" placeholder="Enter your favorite movie" class="form-control" required>
      </div>

      {% if template_data.error %}
        <div class="error-message">{{ template_data.error }}</div>
      {% endif %}

      {% if template_data.message %}
        <div class="success-message">{{ template_data.message }}</div>
      {% endif %}

      <button type="submit" class="loginbutton" data-text="Reset Password">
        Reset Password
      </button>
    </form>
  </div>

  <div class="rightWrapper">
    <div>
      <img
        src="{% static 'img/popcorn.png' %}"
        style="margin-right: 300px; height: 400px"
      />
    </div>
    <a class="largeName" href="{% url 'movies.index' %}" style="text-decoration: none;">GT Movie Store</a>
  </div>
</div>
{% endblock content %}